body {
  background:linear-gradient(rgb(0,25,100),rgb(0,150,250,0.9),rgb(0,25,100));
  color:white;
  width:100%;
  height:100vh;
  margin: 0; 
  /*These width, height and margin values removes horizontal scroll bar and make full screen view feeling.*/
  font-family: Georgia, Calibri;
  font-size: 1rem;
 }

input,select,textarea {
  width: 100%; /*We still need to maintain this width value to ensure width of these elements can cover 100% percent of their rows.*/
  min-height: 1.5rem; /*This adjusts text input boxes.*/
  margin: 0.5rem 0; /*This adjusts distances between text input boxes.*/
}

form {
  max-width: 400px;
  min-width: 300px;
  width: 60vw; /* Elements should have 60% of the viewport height value and this value should lay between 300-400px.*/
  margin: 0rem auto; /*This centers the form.*/
}

label {
  display:block;
}

.radio-set{
  width: unset;
  margin:0.3rem 0.3rem 0.3rem 0rem; /*top,right,bottom,left TRBL*/
  vertical-align:-45%; 
}

.checkbox-set {
  width: unset;
  margin:-0.3rem 0.3rem -0.3rem 0rem; /*top,right,bottom,left TRBL*/
  vertical-align:-45%; 
}

input[type="file"] {
  padding: 1px 0px; /*Made margins same between other input elements.*/
  margin-bottom:0;
}

input[type="submit"] {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1rem;
  background-color: lightblue;
  border-color: white;
  min-width: 100px;
  font-weight: bold; /*Makes the text bold.*/
}

/*Created 3 different fieldset classes instead of using "fieldset:last-of-type" 
CSS pseudo class in order to get rid of secondary fieldset bottom border.*/

.fieldset1 {
  border: none;
  padding: 0.5rem 0rem 0.5rem 0; /*top,right,bottom,left TRBL*/
  border-bottom: 3px solid white;
}

.fieldset2 {
  border: none;
  padding: 0.5rem 0rem 0.5rem 0; /*top,right,bottom,left TRBL*/
}

.fieldset3 {
  border: none;
  margin:0;
}

h1,p {
  text-align: center;
  font-family: Georgia, Calibri;
  margin: 1em auto;
}

.footer p{
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia, Calibri;
  max-width: 400px;
  min-width: 300px;
  width: 60vw;
  margin: 0.5rem auto;
}

.footer h3{
  font-size: 1rem;
  text-align: center;
  font-family: Georgia, Calibri;
  max-width: 400px;
  min-width: 300px;
  width: 60vw;
  margin: 0.5rem auto;
}

a {
  color:lightskyblue;
  margin-right: 0.5rem;
  padding-bottom:1rem;
}

a:visited {
  color:lightblue;
}

a:hover {
  color:lightblue;
}

a:active {
  color:white;
}